@import "../../../assets/sass/boot";

.footer {
  padding: .5rem 1rem;
  background: $gray-200;
  margin-top: 3rem;

  &__credits {
    margin-bottom: 0;
    text-align: center;
    font-size: .8rem;
    color: $gray-700;
  }
}