@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}