$color-primary: #116dff;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 980px,
  xl: 980px,
  xx: 980px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 980px,
  xl: 980px,
  xx: 980px,
);